@import 'reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.app {
	font-family: 'Roboto', sans-serif;

	font-size: $font-size-m;
	line-height: $font-line-m;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	min-height: 100vh;
}
